@import "tailwindcss";

@theme {
  --font-inter: var(--font-inter);
  --font-instrument: var(--font-instrument);
  --font-sans: var(--font-instrument), ui-sans-serif, system-ui, sans-serif;
  --font-roboto: var(--font-roboto);
}

.font-inter {
  font-family: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}

.font-instrument {
  font-family: var(--font-instrument), ui-sans-serif, system-ui, sans-serif;
}

.font-roboto{
  font-family: var(--font-roboto), ui-sans-serif, system-ui, sans-1;
}